---
name: build

on:
  push:
    branches: ['**']

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Build image
        run: docker build -q -t byrdal/nagios:latest .
